/* variaveis */
:root {
  --brackground-primary-color: #ffffff;
  --brackground-secondary-color: #f5f5f5;
  --brackground-tertiary-color: #000000;

  --button-primary-color: #8f0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
}

/* resetar configurações padrão */
body,
img,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--text-primary-color);
}
